/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/



html,body{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: whitesmoke;
}


/* Header section */
#header-area{
    background: -o-linear-gradient(bottom, rgba(0,170,236,1) 0%, rgba(0,115,167,1) 45%, rgba(0,56,87,1) 100%);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,170,236,1)), color-stop(45%, rgba(0,115,167,1)), to(rgba(0,56,87,1)));
    background: linear-gradient(0deg, rgba(0,170,236,1) 0%, rgba(0,115,167,1) 45%, rgba(0,56,87,1) 100%);
    height: auto;
}
#header-area .content{
    padding: 50px 0;
    color: whitesmoke;
}
#header-area .header-img img{
    width: 350px;
}
#header-area .content h1{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 35px;
}
#header-area .content h4{
    padding: 0 180px;
    margin-bottom: 50px;
    line-height: 40px;
}
#header-area .content .title-part .link{
    background: #036e9b;
    border: 3px solid rgb(19, 19, 19);
    overflow: hidden;
    padding: 8px 30px;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
#header-area .content .title-part .link:hover{
    text-decoration: none;
    background: #0316aa;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
#header-area .content .title-part .trans:hover{
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
/* End Header section */


/* Service section */

#service-area{
    height: auto;
    padding: 30px 0;
}
#service-area .service-title h3{
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 20px;
    color: rgb(58, 55, 55);
}

#service-area .service-title h5{
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: 400;
}
#service-area .service-icon img{
    width: 200px;
    margin-bottom: 20px;
}
#service-area .service-icon img:hover{
   -webkit-transform: translateX(10px);
       -ms-transform: translateX(10px);
           transform: translateX(10px);
   -webkit-transition: .6s;
   -o-transition: .6s;
   transition: .6s;
}
#service-area a{
    color: #000;
    font-size: 23px;
    font-weight: 700;
}
#service-area a:hover{
    text-decoration: none;
    color: #084c94;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
/* End Service section */


/* About section */
#about-area{
    background: -o-linear-gradient(bottom, rgba(0,170,236,1) 0%, rgba(0,115,167,1) 45%, rgba(0,56,87,1) 100%);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,170,236,1)), color-stop(45%, rgba(0,115,167,1)), to(rgba(0,56,87,1)));
    background: linear-gradient(0deg, rgba(0,170,236,1) 0%, rgba(0,115,167,1) 45%, rgba(0,56,87,1) 100%);
    height: auto;
}
#about-area img{
    width: 350px;
}
#about-area .about-content{
    padding-top: 50px;
}
#about-area .about-content .about-details{
    margin: 30px 0;
}
#about-area .about-content .about-title{
    color: #fff;
    padding: 0 20px;
}
#about-area .about-content .about-title p{
    font-weight: normal;
    font-size: 20px;
    word-spacing: 1px;
    color: rgb(225, 213, 213);
    text-align: justify;
}
#about-area .about-content .about-title p .about-link{
    color: #000;
    font-weight: 700;
}
#about-area .about-content .about-title p:last-child{
    margin-bottom: 40px;
}
#about-area .about-content .about-title h4{
    padding: 0px 0;
    font-size: 35px;
    text-transform: uppercase;
    color: rgb(218, 196, 196);
}

#about-area .about-content .about-details .my-pic img{
    width: 360px;
}

#about-area .about-content .link{
    border: 3px solid rgb(46, 44, 44);
    background: #036e9b;
    overflow: hidden;
    padding: 5px 25px;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 25px;
    color: rgb(245, 234, 234);
    font-weight: 600;
}
#about-area .about-content .link:hover{
    text-decoration: none;
    background:  #0316aa;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
#about-area .about-content .about-link:hover{
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

/* End About section */

/* Agency section */
#agency-area{
    padding-bottom: 20px;
}
#agency-area .agency-title h2{
   text-transform: uppercase;
   font-weight: 600;
   font-size: 35px;
   padding-bottom: 15px;
}
#agency-area .agency-title h4{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
 }
 #agency-area .video-title p{
     font-weight: 500;
     font-size: 25px;
     margin: 20px 0;
     text-align: justify;
 }
 #agency-area .agency-btn{
     margin: 30px 0;
 }
 #agency-area .agency-btn .link{
    border: 3px solid rgb(46, 44, 44);
    background: #036e9b;
    border-radius: 50px;
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 22px;
    color: rgb(245, 234, 234);
    font-weight: 600;
    margin: 0 20px;
}
#agency-area .agency-btn .link:hover{
    text-decoration: none;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background: #0316aa;
}
#plan-area img {
    width: 350px;
    height: 185px;
}
#agency-area .agency-video .video{
    width: 100%;
    height: 600px;
}
/* End Agency section */

/* Plan section */
#plan-area{
    background: -o-linear-gradient(bottom, rgba(0,170,236,1) 0%, rgba(0,115,167,1) 45%, rgba(0,56,87,1) 100%);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,170,236,1)), color-stop(45%, rgba(0,115,167,1)), to(rgba(0,56,87,1)));
    background: linear-gradient(0deg, rgba(0,170,236,1) 0%, rgba(0,115,167,1) 45%, rgba(0,56,87,1) 100%);
    color: #fff;
    padding: 30px;
    
}
#plan-area h2{
    text-transform: uppercase;
    line-height: 45px;
    font-weight: 600;
    margin-bottom: 40px;
    font-size: 35px;
}
#plan-area a{
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-weight: bold;
}
#plan-area a:hover{
    color: #b30a04;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
#plan-area img {
    width: 100%;
    height: auto;
    margin-top: 50px;
}
#plan-area p{
 padding:0 50px;
 font-size: 20px;
 font-weight: normal;
 text-align: justify;
}
#plan-area p:nth-child(2){
    margin: 0px 0px;
}
/* End Plan section */

/* Question section */
#question-area{
    background: -o-linear-gradient(bottom, rgba(0,170,236,1) 0%, rgba(0,115,167,1) 45%, rgba(0,56,87,1) 100%);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,170,236,1)), color-stop(45%, rgba(0,115,167,1)), to(rgba(0,56,87,1)));
    background: linear-gradient(0deg, rgba(0,170,236,1) 0%, rgba(0,115,167,1) 45%, rgba(0,56,87,1) 100%);
    padding: 30px 0;
    color: #fff;
}
#question-area .ques-heading h2{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    color: rgb(221, 207, 207);
}
#question-area .ques-body{
    border: 2px solid rgb(169, 155, 155);
    margin: 25px 0;
    border-radius: 5px;
    padding: 10px;
}
#question-area .ques-body:hover{
    -webkit-box-shadow: inset -4px -4px 20px rgb(173, 162, 162);
            box-shadow: inset -4px -4px 20px rgb(173, 162, 162);
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
#question-area .ques-body h4{
    color: #dddcdc;
    font-weight: 700;
    font-size: 30px;
    background:#035E85;
    padding: 5px 10px;
    border-radius: 5px;
}
#question-area .ques-body p{
    font-size: 20px;
    font-weight: 500;
    color: rgb(5, 5, 5);
    text-align: justify;
}
#question-area .ques-body p a{
    color: #b30a04;
    font-size: 22px;
}
#question-area .ques-body p a:hover{
    color: #f85145;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    text-decoration: none;
}
/* End Question section */


/* Digital section */
#digital-area{
    padding: 35px 0;
    color: rgb(65, 61, 61);
}
#digital-area .digital-title h2{
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 20px;
}
#digital-area .digital-title p{
    font-size: 25px;
    font-weight: 400;
}
#digital-area .digital-img{
    overflow: hidden;
}
#digital-area .digital-img img{
    margin-bottom: 30px;
    width: 70%;
}
#digital-area .digital-btn .link{
    background: #036e9b;
    border: 3px solid rgb(46, 44, 44);
    overflow: hidden;
    padding: 8px 30px;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 30px;
    color: rgb(233, 220, 220);
    font-weight: 600;
}
#digital-area .digital-btn .link:hover{
    text-decoration: none;
    background: #0316aa;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
}
#digital-area .digital-btn:hover{
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
/* End Digital section */


/* Footer Top section */
#footer-top{
    padding: 30px 0;
}
#footer-top .top-image img{
    width: 280px;
    margin-bottom: 40px;
}
#footer-top a{
    color: #086dd8;
    padding: 0 0px;
    font-weight: 600;
    font-size: 17px;
}
#footer-top a:hover{
    text-decoration: none;
    color: #052c55;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
/* End Footer Top section */

/* Footer section */
#footer{
    background-color: #343a40;
    padding: 10px 0;
    color: rgb(233, 223, 223);
}
#footer p{
    margin-top: 10px;
    font-size: 15px;
}
/* End Footer section */


/*********** End Index Page **************/

/*******************************/
/******************************/

/*********** Start Sign Up Page ********/

#sign-section{
    padding: 10px 0;
    
    background: -o-linear-gradient(bottom, rgba(0,170,236,1) 0%, rgba(0,115,167,1) 45%, rgba(0,56,87,1) 100%);
     background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,170,236,1)), color-stop(45%, rgba(0,115,167,1)), to(rgba(0,56,87,1)));
     background: linear-gradient(0deg, rgba(0,170,236,1) 0%, rgba(0,115,167,1) 45%, rgba(0,56,87,1) 100%);
     height: auto;
}

#sign-section .header-img img{
    width: 170px;
}
#sign-section h1{
    margin: 20px 0;
    color: #dee4e8;
    text-transform: capitalize;
    font-size: 41px;
    padding: 0 30px;
}
#sign-section p{
font-size: 30px;
font-weight: 500;
color: #111111;
text-transform: capitalize;
}
#sign-section .title-details{
    margin-top: 10px;
    background: rgb(252, 250, 201);
    padding:20px 0px;
    border-radius: 5px;
}
#sign-section .title-details .item img{
    width: 15px;
    margin: 5px;
}
#sign-section .title-details .title-heading{
    margin-top: 20px;
}
#sign-section .title h3 {
    font-size: 30px;
    color: rgb(44, 42, 42);
    margin-bottom: 28px;
    text-align: start;
    font-weight: 700;
}
#sign-section .title .title-p {
    border-top: 2px solid rgb(186, 182, 182);
    font-size: 20px;
    text-align: start;
    margin-bottom: 30px;
    color: rgb(75, 73, 73);
    padding-top: 20px;
}
#sign-section .item{
    text-align: start;
}
#sign-section .item p{
    font-size: 16px;
    color: rgb(16, 15, 15);
    font-weight: bold;
    
}
#sign-section .all-item{
    padding: 0;
}
#sign-section form{
    padding: 15px;
    width: 100%;
    margin-top: 30px;
    border-radius: 5px;
    background: #1F69AE;
}
#sign-section form a{
    text-transform: uppercase;
}
#sign-section form label{
    font-weight: 400;
    font-size: 18px;
    color: rgb(232, 220, 220);
}
.form-control {
    padding: 1rem .75rem;
    font-size: 1rem;
}
#sign-section form input::-webkit-input-placeholder{
    font-weight: 400;
    color: rgb(202, 190, 190);
    font-size: 18px;
}
#sign-section form input::-moz-placeholder{
    font-weight: 400;
    color: rgb(202, 190, 190);
    font-size: 18px;
}
#sign-section form input:-ms-input-placeholder{
    font-weight: 400;
    color: rgb(202, 190, 190);
    font-size: 18px;
}
#sign-section form input::-ms-input-placeholder{
    font-weight: 400;
    color: rgb(202, 190, 190);
    font-size: 18px;
}
#sign-section form input::placeholder{
    font-weight: 400;
    color: rgb(202, 190, 190);
    font-size: 18px;
}
#sign-section form input.form-control{
    color: #000;
}
#sign-section form a{
    background: #EF5426;
    border: none;
    padding: 5px 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 20px;
    margin-top: 25px;
    color: #fff;
    text-decoration: none;
}
#sign-section form a:hover{
    color: rgb(255, 254, 254);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background: #ba3912;
}
#sign-section form .country{
width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
#sign-section form .country .phn{
    width: 30%;
}
#sign-section form .country .code{
    width: 265%;
}
#sign-section form textarea.form-control{
    font-weight: 400;
    font-size: 18px;
    color: rgb(2, 2, 2);
    padding: 10px;
}

/******** End Sign Up Page ********/


/********** Thank You Section *************/
#thank-section{
    padding: 50px 0;
    background: -o-linear-gradient(bottom, rgba(0,170,236,1) 0%, rgba(0,115,167,1) 45%, rgba(0,56,87,1) 100%);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,170,236,1)), color-stop(45%, rgba(0,115,167,1)), to(rgba(0,56,87,1)));
    background: linear-gradient(0deg, rgba(0,170,236,1) 0%, rgba(0,115,167,1) 45%, rgba(0,56,87,1) 100%);
    height: auto;
}

#thank-section .header-img img{
    width: 275px;
}
#thank-section .thank{
    padding: 0px 115px;
    padding-top: 20px;
}

#thank-section .thank h2{
    color:#fffdfc;
    text-transform: uppercase;
    font-size: 35px;
    padding-bottom: 15px;
}
#thank-section .thank img{
    width: 305px;
}
#thank-section .thank p{
color: rgb(221, 207, 207);
font-size: 22px;
}
#thank-section .text{
    margin-top: 30px;
}
#thank-section .thank button{
    background: #EFB832;
    padding: 5px 20px;
    font-size: 22px;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
}
#thank-section .thank button:hover{
    background: #0316aa;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: rgb(240, 233, 233);
}
/********** End Thank You Section *************/